@model IEnumerable<WebUI.Models.CartItemViewModel>

<h2>Coșul tău</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Produs</th>
            <th>Cantitate</th>
            <th>Preț</th>
            <th>Acțiuni</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Id</td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td> <!-- Afișează cantitatea -->
                <td>@item.Product.Price</td>
                <td>
                    <form asp-action="CartRemove" method="post">
                        <input type="hidden" name="productId" value="@item.Product.Id" />
                        <input type="hidden" name="productPrice" value="@item.Product.Price" />
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>
                </td>
            </tr>
        }
            <a asp-action="Index" class="btn btn-primary">Înapoi la Index</a>
        </tbody>
    </table>

    <h3>Total: @ViewBag.Total</h3>
}
else
{
    <p>Coșul este gol.</p>
    <a asp-action="Index" class="btn btn-primary">Înapoi la Index</a>
}