@model IEnumerable<WebUI.Models.ProductViewModel>
@{
    ViewData["Title"] = "Produse";
}

<h2>Products</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>
                <form asp-action="Cart" method="post">
                    <input type="hidden" name="productId" value="@product.Id" />
                    <input type="hidden" name="productPrice" value="@product.Price" />
                    <input type="hidden" name="productName" value="@product.Name" />
                    <button type="submit" class="btn btn-primary">Add 1 quantity</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <a asp-action="Deliveries" class="btn btn-primary">Check Your Deliveries</a>
    <a asp-action="Bill" class="btn btn-primary">Check Your Bills</a>
</table>